{% extends 'backend.html.twig' %}

{% block body %}

    {% trans_default_domain "purchase_order" %}
    <!--breadcrumbs-area start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="{{ path('backend') }}">{{ 'COMMON_BACKEND'|trans({}, "common") }}</a> <span><i
                                        class="fa fa-angle-right"></i></span></li>
                        <li><a href="{{ path('order_index') }}">{{ 'PURCHASE_ORDER_ORDERS'|trans }}</a> <span><i
                                        class="fa fa-angle-right"></i></span></li>
                        <li>{{ 'COMMON_NEW'|trans({}, "common") }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs-area end -->

    <!--elements start-->
    <div class="elements">
        <div class="typhography text-left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <h1>{{ 'PURCHASE_ORDER_NEW_ORDER'|trans }}</h1>
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
                        {{ form_row(form.user) }}
                        {{ form_row(form.status) }}
                        {{ form_row(form.paymentMethod) }}

                        {% for address in form.addresses %}
                            {{ form_row(address.firstName) }}
                            {{ form_row(address.lastName) }}
                            {{ form_row(address.companyName) }}
                            {{ form_row(address.city) }}
                            {{ form_row(address.address) }}
                            {{ form_row(address.houseNumber) }}
                            {{ form_row(address.zipCode) }}
                            {{ form_row(form.email, {'attr': {'autocomplete': 'new-username'}}) }}
                            {{ form_row(address.phoneNumber) }}
                        {% endfor %}

                        {{ form_row(form.shippingCosts) }}

                        <br>
                        <h2>{{ 'PURCHASE_ORDER_ORDER_LINES'|trans }}</h2>
                        <a href="#"
                           class="add-purchase-order-line-link btn btn-success">{{ 'PURCHASE_ORDER_ADD_ORDER_LINE'|trans }}</a>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'PURCHASE_ORDER_PRODUCT_NAME'|trans }}</th>
                                <th>{{ 'PURCHASE_ORDER_SUBTOTAL'|trans }}</th>
                                <th>{{ 'PURCHASE_ORDER_PRICE'|trans }}</th>
                                <th>{{ 'PURCHASE_ORDER_VAT'|trans }}</th>
                                <th>{{ 'PURCHASE_ORDER_AMOUNT'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="purchase-order-lines" data-prototype="
                                <td>{{ form_row(form.purchaseOrderLines.vars.prototype.name)|e('html_attr') }}</td>
                                <td>{{ form_row(form.purchaseOrderLines.vars.prototype.subtotal)|e('html_attr') }}</td>
                                <td>{{ form_row(form.purchaseOrderLines.vars.prototype.price)|e('html_attr') }}</td>
                                <td>{{ form_row(form.purchaseOrderLines.vars.prototype.vat)|e('html_attr') }}</td>
                                <td>{{ form_row(form.purchaseOrderLines.vars.prototype.amount)|e('html_attr') }}</td>
                                <td><a class=&quot;remove-purchase-order-line&quot; href=&quot;#&quot;><span class=&quot;glyphicon glyphicon-trash &quot;></span></a></td>">
                            {% for purchaseOrderLine in form.purchaseOrderLines %}
                                <tr>
                                    <td>{{ form_row(purchaseOrderLine.name) }}</td>
                                    <td>{{ form_row(purchaseOrderLine.subtotal) }}</td>
                                    <td>{{ form_row(purchaseOrderLine.price) }}</td>
                                    <td>{{ form_row(purchaseOrderLine.vat) }}</td>
                                    <td>{{ form_row(purchaseOrderLine.amount) }}</td>
                                    <td><a class="remove-purchase-order-line" href="#"><span
                                                    class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <input class="btn btn-primary" type="submit" value="{{ 'COMMON_CREATE'|trans({}, "common") }}"/>
                        <a class="btn btn-info"
                           href="{{ path('order_index') }}">{{ 'COMMON_BACK_TO_OVERVIEW'|trans({}, "common") }}</a>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--elements end-->

{% endblock %}
