{% extends 'frontend.html.twig' %}


{%- block checkbox_widget -%}
    <li>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}">{{ label }}</label>
    </li>
{%- endblock checkbox_widget -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}


{% block body %}
    {% trans_default_domain "product" %}

    <!--breadcrumbs-area start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="{{ path('home') }}">{{ 'COMMON_HOME'|trans({}, "common") }}</a> <span><i class="fa fa-angle-right"></i></span></li>
                        <li><a href="{{ path('product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs-area end -->
    <!--shop-area start-->
    <div class="shop-area">
        <div class="container">
            <div class="row">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'categories-form'}}) }}
                {% form_theme form _self %}
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="categoryies-option">


                        <h4>{{ 'PRODUCTCATEGORY_PRODUCTCATEGORIES'|trans({}, "product_category")|upper }}</h4>
                        <ul>
                            {{ form_row(form.categories) }}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="shop-item-filter">
                        <div class="toolber-form left">
                           <p class="filter-title">{{ 'COMMON_SORT_BY'|trans({}, "common") }}</p>
                            <div class="filter-form">
                                {{ form_widget(form.sort) }}
                            </div>
                        </div>
                        <!--tab-list start-->
                        <div class="shop-tab">
                            <ul role="tablist">
                                <li role="presentation" class="{{ selectedProductView.isGridView ? 'active' : '' }}"><a href="#grid-view" aria-controls="grid-view" role="tab" data-toggle="tab"><i class="fa fa-th"></i></a></li>
                                <li role="presentation" class="{{ selectedProductView.isListView ? 'active' : '' }}"><a href="#list-view" aria-controls="list-view" role="tab" data-toggle="tab"><i class="fa fa-th-list"></i></a></li>
                            </ul>
                        </div>
                        <!--tab-list end-->
                    </div>
                    
                    <div class="row">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane {{ selectedProductView.isGridView ? 'active' : '' }}" id="grid-view">
                                {% for product in pagination %}
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-product text-center">
                                            <div class="single-product-inner">
                                                <div class="product-img">
                                                    {% if product.images is not empty %}
                                                        <img src="{{ asset('img/product/thumbnail/' ~ product.images.first.image) }}" alt="">
                                                    {% else %}
                                                        <img src="{{ asset('img/product/1.png') }}" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="product-details">
                                                    <h3><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.name }}</a></h3>
                                                    <div class="price-box">
                                                        <div class="new-price"><span>{{ product.price|localizedcurrency('EUR') }}</span></div>
                                                    </div>
                                                </div>
                                                <div class="product-hover">
                                                    <ul>
                                                        {% if shopping_cart.isProductInCart(product) %}
                                                            <li><a href="#" class="added-to-cart in-cart-product-{{ product.id }}" data-product-id="{{ product.id }}" data-target="#added-to-cart-modal" data-product="{{ product.name }}" data-description="{{ product.description }}" data-target="#already-in-cart-modal"><span class="glyphicon glyphicon-ok"></span> {{ 'PRODUCT_ADD_TO_CART'|trans({}, "product") }}</a></li>
                                                        {% else %}
                                                            <li><a href="#" class="add-to-cart product-{{ product.id }}" data-product-id="{{ product.id }}" data-target="#added-to-cart-modal" data-product="{{ product.name }}" data-description="{{ product.description }}"><span class="glyphicon glyphicon-plus"></span> {{ 'PRODUCT_ADD_TO_CART'|trans({}, "product") }}</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div role="tabpanel" class="tab-pane {{ selectedProductView.isListView ? 'active' : '' }}" id="list-view">
                                {% for product in pagination %}
                                    <div class="col-md-12 col-sm-12 col-xs-12 product-list">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="product-img">
                                                    {% if product.images is not empty %}
                                                        <img src="{{ asset('img/product/thumbnail/' ~ product.images.first.image) }}" alt="">
                                                    {% else %}
                                                        <img src="{{ asset('img/product/1.png') }}" alt="">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="product-details">
                                                    <h3><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.name }}</a></h3>
                                                    <div class="product-review">
                                                    </div>
                                                    <div class="price-box">
                                                        <div class="new-price"><span>{{ product.price|localizedcurrency('EUR') }}</span></div>
                                                    </div>
                                                    <div class="producut-desc">
                                                        <p>{{ product.description }}</p>
                                                    </div>
                                                    <div class="product-action-btn">
                                                        <ul>
                                                            <li>
                                                                {% if shopping_cart.isProductInCart(product) %}
                                                                    <a class="added-to-cart in-cart-product-{{ product.id }}" href="{{ path('cart_add', {'id': product.id, 'amount': 1}) }}" data-product-id="{{ product.id }}" data-target="#already-in-cart-modal" data-product="{{ product.name }}" data-description="{{ product.description }}" data-target="#already-in-cart-modal" data-target="#already-in-cart-modal"><span class="glyphicon glyphicon-ok"></span> {{ 'PRODUCT_ADD_TO_CART'|trans({}, "product") }}</a>
                                                                {% else %}
                                                                    <a class="add_cart product-{{ product.id }}" data-product-id="{{ product.id }}" href="{{ path('cart_add', {'id': product.id, 'amount': 1}) }}"  data-target="#added-to-cart-modal" data-product="{{ product.name }}" data-description="{{ product.description }}"><span class="glyphicon glyphicon-plus"></span> {{ 'PRODUCT_ADD_TO_CART'|trans({}, "product") }}</a>
                                                                {% endif %}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {{ knp_pagination_render(pagination) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!--shop-area end-->

    {{ include('ProductBundle:Product:_modals.html.twig') }}
{% endblock %}
