{% extends 'frontend.html.twig' %}


{%- block checkbox_widget -%}
    <li>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}">{{ label }}</label>
    </li>
{%- endblock checkbox_widget -%}


{% block body %}
    {% trans_default_domain "product" %}

    <!--breadcrumbs-area start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="{{ path('home') }}">{{ 'COMMON_HOME'|trans({}, "common") }}</a> <span><i class="fa fa-angle-right"></i></span></li>
                        <li><a href="{{ path('product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs-area end -->
    <!--shop-area start-->
    <div class="shop-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="categoryies-option">
                        {% form_theme form _self %}

                        <h4>{{ 'PRODUCTCATEGORY_PRODUCTCATEGORIES'|trans({}, "product_category")|upper }}</h4>
                        <ul>
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'categories-form'}}) }}
                            {{ form_end(form) }}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="shop-item-filter">
                        <div class="toolber-form left">
                           <p class="filter-title">sort by: </p>
                            <div class="filter-form">
                                <form action="#">
                                    <select>
                                        <option value="Defauld">Default</option>
                                        <option value="Newest">Newest items</option>
                                        <option value="Trending">Trending items</option>
                                        <option value="Best">Best sellers</option>
                                        <option value="Price">Price: low to high</option>
                                        <option value="Price">Price: high to high</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="toolber-form  middle">
                           <p class="filter-title">Show: </p>
                            <div class="filter-form show-form">
                                <form action="#">
                                    <select>
                                        <option value="">12</option>
                                        <option value="">14</option>
                                        <option value="">16</option>
                                        <option value="">18</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <!--tab-list start-->
                        <div class="shop-tab">
                            <ul role="tablist">
                                <li role="presentation"><a href="#grid-view" aria-controls="grid-view" role="tab" data-toggle="tab"><i class="fa fa-th"></i></a></li>
                                <li role="presentation" class="active"><a href="#list-view" aria-controls="list-view" role="tab" data-toggle="tab"><i class="fa fa-th-list"></i></a></li>
                            </ul>
                        </div>
                        <!--tab-list end-->
                    </div>
                    
                    <div class="row">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="grid-view">
                                {% for product in pagination %}
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-product text-center">
                                            <div class="single-product-inner">
                                                <div class="product-img">
                                                    {% if product.images is not empty %}
                                                        <img src="{{ asset('img/product/thumbnail/' ~ product.images.first.image) }}" alt="">
                                                    {% else %}
                                                        <img src="{{ asset('img/product/1.png') }}" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="product-details">
                                                    <h3><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.name }}</a></h3>
                                                    <div class="price-box">
                                                        <div class="new-price"><span>{{ product.price|localizedcurrency('EUR') }}</span></div>
                                                    </div>
                                                </div>
                                                <div class="product-hover">
                                                    <ul>
                                                        <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="list-view">
                                {% for product in pagination %}
                                    <div class="col-md-12 col-sm-12 col-xs-12 product-list">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="product-img">
                                                    {% if product.images is not empty %}
                                                        <img src="{{ asset('img/product/thumbnail/' ~ product.images.first.image) }}" alt="">
                                                    {% else %}
                                                        <img src="{{ asset('img/product/1.png') }}" alt="">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="product-details">
                                                    <h3><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.name }}</a></h3>
                                                    <div class="product-review">
                                                    </div>
                                                    <div class="price-box">
                                                        <div class="new-price"><span>{{ product.price|localizedcurrency('EUR') }}</span></div>
                                                    </div>
                                                    <div class="producut-desc">
                                                        <p>{{ product.description }}</p>
                                                    </div>
                                                    <div class="product-action-btn">
                                                        <ul>
                                                            <li>
                                                                <a class="add_cart" href="#">Add to cart</a></li>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
    <!--shop-area end-->
{% endblock %}