{% extends 'frontend.html.twig' %}

{% block body %}
    {% trans_default_domain "product" %}

    <!--breadcrumbs-area start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="{{ path('home') }}">{{ 'COMMON_HOME'|trans({}, "common") }}</a> <span><i class="fa fa-angle-right"></i></span></li>
                        <li><a href="{{ path('product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans }}</a> <span><i class="fa fa-angle-right"></i></span></li>
                        <li>{{ product.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs-area end -->
    <!--single-product-area start-->
    <div class="single-product-area page-bg page-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="price-slider-box">
                        <div class="price-filter">
                            <div class="price-slider-title">
                                <h6>Min / Max Price</h6>
                            </div>
                            <form action="#" method="post">
                                <div class="price-slider-top">
                                    <div class="input-type">
                                        <input type="text" id="min-price" />
                                    </div>
                                    <div class="input-type">
                                        <input type="text" id="max-price" />
                                    </div>
                                </div>
                                <div id="price-slider" class="price-slider"></div>
                            </form>
                        </div><!-- /.price-filter -->
                    </div>
                    <div class="categoryies-option">
                        <h4>CATEGORIES</h4>
                        <ul>
                            <li>
                                <input id="Road" type="checkbox" name="Road">
                                <label for="Road">Road bike<span> (15)</span></label>
                            </li>
                            <li>
                                <input id="moundain" type="checkbox" name="moundain">
                                <label for="moundain">Mountain bike<span> (13)</span></label>
                            </li>
                            <li>
                                <input id="folding" type="checkbox" name="folding">
                                <label for="folding">folding bike<span> (13)</span></label>
                            </li>
                            <li>
                                <input id="Children" type="checkbox" name="Children">
                                <label for="Children">Children Bike<span> (21)</span></label>
                            </li>
                            <li>
                                <input id="Fixed" type="checkbox" name="Fixed">
                                <label for="Fixed">Fixed Gear <span> (10)</span></label>
                            </li>
                            <li>
                                <input id="Tricycle" type="checkbox" name="Tricycle">
                                <label for="Tricycle">Tricycle <span> (14)</span></label>
                            </li>
                            <li>
                                <input id="Accessories" type="checkbox" name="Accessories">
                                <label for="Accessories">Accessories <span> (35)</span></label>
                            </li>
                            <li>
                                <input id="Cycling" type="checkbox" name="Cycling">
                                <label for="Cycling">Cycling Components <span> (5)</span></label>
                            </li>
                        </ul>
                    </div>
                    <div class="categoryies-option color-box">
                        <h4>color</h4>
                        <ul>
                            <li>
                                <input id="asbestos" class="asbestos" type="checkbox" name="asbestos">
                                <label for="asbestos">Road bike<span> (15)</span></label>
                            </li>
                            <li>
                                <input id="white" class="white" type="checkbox" name="white">
                                <label for="white">White<span> (12)</span></label>
                            </li>
                            <li>
                                <input id="green" class="green" type="checkbox" name="green">
                                <label for="green">folding bike<span> (13)</span></label>
                            </li>
                            <li>
                                <input id="belize" class="belize" type="checkbox" name="belize">
                                <label for="belize">folding bike<span> (13)</span></label>
                            </li>
                            <li>
                                <input id="pomegramate" class="pomegramate" type="checkbox" name="pomegramate">
                                <label for="pomegramate">folding bike<span> (13)</span></label>
                            </li>
                            <li>
                                <input id="orange" class="orange" type="checkbox" name="orange">
                                <label for="orange">folding bike<span> (13)</span></label>
                            </li>
                            <li>
                                <input id="block" class="block" type="checkbox" name="block">
                                <label for="block">folding bike<span> (13)</span></label>
                            </li>
                        </ul>
                    </div>
                    <div class="categoryies-option">
                        <h4>size</h4>
                        <ul>
                            <li>
                                <input id="s" type="checkbox" name="s">
                                <label for="s">s<span> (32)</span></label>
                            </li>
                            <li>
                                <input id="M" type="checkbox" name="M">
                                <label for="M">M<span> (25)</span></label>
                            </li>
                            <li>
                                <input id="L" type="checkbox" name="L">
                                <label for="L">L<span> (41)</span></label>
                            </li>
                            <li>
                                <input id="XL" type="checkbox" name="XL">
                                <label for="XL">XL<span> (20)</span></label>
                            </li>
                        </ul>
                    </div>
                    <div class="categoryies-option">
                        <h4>availabilty</h4>
                        <ul>
                            <li>
                                <input id="Not" type="checkbox" name="Not">
                                <label for="Not">Not available <span> (7)</span></label>
                            </li>
                            <li>
                                <input id="stock" type="checkbox" name="stock">
                                <label for="stock">In stock <span> (30)</span></label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <!--sigle-product-area-->
                    <div class="sigle-product-area">
                       <div class="row">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <div class="single-product-tab">
                                    {% if product.images is not empty %}
                                        <div class="zoomWrapper">
                                            <div id="img-1" class="zoomWrapper single-zoom">
                                                <a href="#">
                                                    <img id="zoom1" src="{{ asset('img/product/' ~ product.images.first.image) }}" data-zoom-image="{{ asset('img/product/' ~ product.images.first.image) }}" alt="big-1">
                                                </a>
                                            </div>
                                            <div class="single-zoom-thumb">
                                                <ul class="s-tab-zoom" id="gallery_01">
                                                    {% for image in product.images %}
                                                        <li>
                                                            <a href="#" class="elevatezoom-gallery" data-update="" data-image="{{ asset('img/product/' ~ image.image) }}" data-zoom-image="{{ asset('img/product/' ~ image.image) }}"><img src="{{ asset('img/product/' ~ image.image) }}" alt="zo-th-1" /></a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div> 
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="single-product-detels">
                                    <h4 class="single-product-title">{{ product.name }}</h4>
                                    <div class="single-price-box">
                                        <div class="tutole-price"><span>{{ product.price|localizedcurrency('EUR') }}</span></div>
                                        <div>
                                            <i style="display: inline-block;"></i>
                                        </div>
                                    </div>
                                </div>
                                <form action="#">
                                    <div class="quantity">
                                        <span>QTY <input type="number" value="1"></span>
                                        <span class="single-product-btn">
                                            <a href="#">Add to cart</a>
                                        </span>
                                    </div>
                                </form>
                                <div class="product-det-tab">
                                    <!-- Nav tabs stat-->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">{{ 'PRODUCT_DESCRIPTION'|trans }}</a></li>
                                        <li role="presentation"><a href="#more-info" aria-controls="more-info" role="tab" data-toggle="tab">{{ 'PRODUCT_MORE_INFORMATION'|trans }}</a></li>
                                    </ul>
                                    <!-- Nav tabs end-->
                                    <!-- Tab panes start -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="cont-pd tab-pane active" id="description">{{ product.description }}</div>
                                        <div role="tabpanel" class="cont-pd tab-pane" id="more-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto iure quia veritatis atque accusantium quaerat. Fugiat nisi, pariatur odit veniam voluptas dolor temporibus minima asperiores enim, sequi cum tempore unde</div>
                                    </div>
                                    <!-- Tab panes end -->
                                </div>
                                <div class="socil-media">
                                    <img src="{{ asset('img/socul-img.png') }}" alt="">
                                </div>
                            </div>
                       </div>
                       <div class="related-product-area">
                           <div class="row">
                                <div class="col-md-12">
                                    <h4 class="related-title">RELATED PRODUCTS</h4>
                                </div>
                           </div>
                           <div class="row">
                                <div class="single-product-page-list">
                                    <div class="single_product-list">
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <span class="price">off <br>30%</span>
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/1.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Classic-MR866</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="old-price"><span>$300.00</span></div>
                                                            <div class="new-price"><span>$210.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <span class="price">off <br>20%</span>
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/2.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Express-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                           <div class="old-price"><span>$300.00</span></div>
                                                            <div class="new-price"><span>$260.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <span class="price">off <br>50%</span>
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/3.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Ladies-MR8O8</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="old-price"><span>$400.00</span></div>
                                                            <div class="new-price"><span>$200.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/5.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Express-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="new-price"><span>$210.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/6.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Classic-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="new-price"><span>$350.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/7.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Modern-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="new-price"><span>$1100.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_product-list">
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <span class="price">off <br>30%</span>
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/1.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Classic-MR866</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="old-price"><span>$300.00</span></div>
                                                            <div class="new-price"><span>$210.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <span class="price">off <br>20%</span>
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/2.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Express-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                           <div class="old-price"><span>$300.00</span></div>
                                                            <div class="new-price"><span>$260.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <span class="price">off <br>50%</span>
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/3.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Ladies-MR8O8</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="old-price"><span>$400.00</span></div>
                                                            <div class="new-price"><span>$200.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/5.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Express-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="new-price"><span>$210.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/6.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Classic-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="new-price"><span>$350.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/7.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Modern-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="new-price"><span>$1100.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_product-list">
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <span class="price">off <br>30%</span>
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/1.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Classic-MR866</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="old-price"><span>$300.00</span></div>
                                                            <div class="new-price"><span>$210.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <span class="price">off <br>20%</span>
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/2.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Express-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                           <div class="old-price"><span>$300.00</span></div>
                                                            <div class="new-price"><span>$260.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <span class="price">off <br>50%</span>
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/3.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Ladies-MR8O8</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="old-price"><span>$400.00</span></div>
                                                            <div class="new-price"><span>$200.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/5.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Express-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="new-price"><span>$210.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/6.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Classic-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="new-price"><span>$350.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-product text-center">
                                                <div class="single-product-inner">
                                                    <div class="product-img">
                                                        <a href="#"><img src="{{ asset('img/product/7.png') }}" alt=""></a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h3><a href="#">Dot Bike Modern-MR868</a></h3>
                                                        <div class="revew">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <div class="new-price"><span>$1100.00</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover">
                                                        <ul>
                                                            <li><a href="#" class="add-to-cart">Add to cart</a></li>
                                                            <li><a title="Add to Wishlist" href="#" class="add-to-cart"><i class="fa fa-check-square-o"></i></a></li>
                                                            <li><a title="Add to compare" href="#" class="add-to-cart"><i class="fa fa-signal"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                    <!--sigle-product-area-->
                </div>
            </div>
        </div>
    </div>
    <!--single-product-area end-->

{% endblock %}