{% extends 'frontend.html.twig' %}

{% block _login_login_widget %}
    <input type="submit" {{ block('button_attributes') }}
           value="{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}">
{% endblock %}

{% block _register_submit_widget %}
    <input type="submit" {{ block('button_attributes') }}
           value="{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}">
{% endblock %}


{% block body %}
    <!--breadcrumbs-area start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <a href="{{ path('home') }}">{{ 'COMMON_HOME'|trans({}, "common") }}</a>
                            <span><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                            <a href="{{ path('purchase_checkout') }}">{{ 'CHECKOUT_ORDER'|trans({}, "checkout") }}</a>
                            <span><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                            <a href="{{ path('purchase_login_or_register') }}">{{ 'CHECKOUT_REGISTER'|trans({}, "checkout") }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs-area end -->

    <!-- account-details Area Start -->
    <div class="customer-login-area">
        <div class="container">
            <div class="col-sm-12 col-md-6 col-xs-12">
                {# TODO: add explanation #}
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xs-12">
                    <div class="customer-login my-account">
                        {% form_theme loginForm _self %}
                        {{ form_errors(loginForm) }}
                        {{ form_start(loginForm, {'attr': {'novalidate': 'novalidate', 'class': 'login'}, 'action': path('purchase_login_or_register_check')}) }}
                        <div class="form-fields">
                            <h2>{{ 'CHECKOUT_EXISTING_CUSTOMER'|trans({}, "checkout") }}</h2>
                            {{ form_row(loginForm.username) }}
                            {{ form_row(loginForm.password) }}
                        </div>
                        <div class="form-action">
                            <p class="lost_password"><a
                                        href="{{ path('recover_password') }}">{{ 'USER_LOST_PASSWORD'|trans({}, "user") }}</a>
                            </p>
                            <div class="actions-log">
                                {{ form_widget(loginForm.login, {'attr': {'class': 'button'}}) }}
                            </div>
                            {{ form_widget(loginForm.remember_me, {'label_attr': {'class': 'inline'}, 'id': 'rememberme'}) }}
                        </div>
                        {{ form_end(loginForm) }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xs-12">
                    <div class="customer-register my-account">
                        {% form_theme registerForm _self %}
                        {{ form_errors(registerForm) }}
                        {{ form_start(registerForm, {'attr': {'novalidate': 'novalidate', 'class': 'login'}, 'action': path('purchase_login_or_register')}) }}
                        <div class="form-fields">
                            <h2>{{ 'CHECKOUT_NEW_CUSTOMER'|trans({}, "checkout") }}</h2>
                            {{ form_row(registerForm.email) }}

                        </div>
                        <div class="form-action">
                            <div class="actions-log">
                                {{ form_widget(registerForm.submit, {'attr': {'class': 'button'}}) }}
                            </div>
                            {{ form_widget(registerForm.create_account, {'label_attr': {'class': 'inline'}, 'id': 'rememberme'}) }}
                        </div>
                        {{ form_rest(registerForm) }}
                        {{ form_end(registerForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- account-details Area end -->
{% endblock %}