{% extends 'base.html.twig' %}

{% block menu %}
    <nav>
        <ul>
            <li>
                <a class="home" href="{{ path('home') }}"><i class="fa fa-home"></i></a>
            </li>
            <li>
                <a href="{{ path('backend_product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a>
                <ul class="dropdown_menu">
                    <li><a href="{{ path('backend_product_new') }}">{{ 'PRODUCT_NEW_PRODUCT'|trans({}, "product") }}</a></li>
                    <li><a href="{{ path('productcategory_index') }}">{{ 'PRODUCTCATEGORY_PRODUCTCATEGORIES'|trans({}, "product_category") }}</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ path('backend_user_index') }}">{{ 'USER_USERS'|trans({}, "user") }}</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block mobile_menu %}
    <nav id="dropdown">
        <ul>
            <li>
                <a class="home" href="{{ path('home') }}"><i class="fa fa-home"></i></a>
            </li>
            <li>
                <a href="{{ path('backend_product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a>
                <ul class="dropdown_menu">
                    <li><a href="{{ path('backend_product_new') }}">{{ 'PRODUCT_NEW_PRODUCT'|trans({}, "product") }}</a></li>
                    <li><a href="{{ path('productcategory_index') }}">{{ 'PRODUCTCATEGORY_PRODUCTCATEGORIES'|trans({}, "product_category") }}</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ path('backend_user_index') }}">{{ 'USER_USERS'|trans({}, "user") }}</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a href="{{ path('logout') }}">{{ 'USER_LOGOUT'|trans({}, "user") }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('login') }}">{{ 'USER_LOGIN'|trans({}, "user") }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block footer_menu %}
    <ul class="mainmenu">
        <li><a href="{{ path('backend') }}"><i class="fa fa-angle-right"></i> Home</a></li>
        <li><a href="{{ path('backend_product_index') }}"><i class="fa fa-angle-right"></i> {{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a></li>
        <li><a href="{{ path('backend_user_index') }}"><i class="fa fa-angle-right"></i> {{ 'USER_USERS'|trans({}, "user") }}</a></li>
    </ul>
{% endblock %}
