{% extends 'base.html.twig' %}

{% block menu %}
    <nav>
        <ul>
            <li>
                <a class="home" href="{{ path('home') }}"><i class="fa fa-home"></i></a>
            </li>
            <li>
                <a href="{{ path('backend_product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a>
                <ul class="dropdown_menu">
                    <li><a href="{{ path('backend_product_new') }}">{{ 'PRODUCT_NEW_PRODUCT'|trans({}, "product") }}</a></li>
                </ul>
            </li>
            <li>
                <a href="index.html">{{ 'USER_USERS'|trans({}, "user") }}</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block mobile_menu %}
    <nav id="dropdown">
        <ul>
            <li>
                <a class="home" href="{{ path('home') }}"><i class="fa fa-home"></i></a>
            </li>
            <li>
                <a href="{{ path('backend_product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a>
                <ul class="dropdown_menu">
                    <li><a href="{{ path('backend_product_new') }}">{{ 'PRODUCT_NEW_PRODUCT'|trans({}, "product") }}</a></li>
                </ul>
            </li>
            <li>
                <a href="index.html">{{ 'USER_USERS'|trans({}, "user") }}</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block footer_menu %}
    <ul class="mainmenu">
        <li><a href="{{ path('backend') }}"><i class="fa fa-angle-right"></i> Home</a></li>
        <li><a href="{{ path('backend_product_index') }}"><i class="fa fa-angle-right"></i> {{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i> {{ 'USER_USERS'|trans({}, "user") }}</a></li>
    </ul>
{% endblock %}