<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {% stylesheets '@bootstrap' '@font_awesome' '@site_css' '@nivo_slider_css' '@style' '@responsive' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            {% javascripts '@modernizr' %}{% endjavascripts %}
        {% trans_default_domain "homepage" %}
    </head>
    <body>
        <!--header start-->
        <div class="header">
            <div class="header-midle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="logo">
                                <a href="index.html"><h2 style="color: white;">Errit van der Heide</h2><p style="color: white;"><span style="color: #3f3f8e;"><strong>{{ 'HOMEPAGE_HEADLINE'|trans }}</strong></span><br>{{ 'HOMEPAGE_SUB_HEADLINE'|trans }}</p></a>
                            </div>
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <div class="call-us">
                                <span><i class="fa fa-phone"></i></span> {{ 'HOMEPAGE_CALL_ME'|trans }}: 06-419 427 43
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4  hidden-xs">
                            <div class="top-email">
                                <span><i class="fa fa-envelope-o"></i></span> {{ 'COMMON_EMAIL'|trans({}, "common") }}: erritsjoerd@hotmail.com
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="header-meddle-right">
                               <div class="login-account">
                                    <a href="{{ path('account') }}"><i class="fa fa-user"></i></a>
                                </div>
                                <div class="meni-cart">
                                    <a href="#" class="cart-icon"><i class="fa fa-shopping-bag"></i> $0.00</a>
                                    <span>2</span>
                                    <ul class="cart-area">
                                        <li class="single-cart">
                                            <div class="cart-img"><img src="{{ asset('img/cart/cart1.png') }}" alt=""></div>
                                            <div class="cart-content">
                                                <h4><a href="#">Mountain Bike <br/> Name Here</a></h4>
                                                <p>$122.00</p>
                                            </div>
                                            <div class="cart-del">
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-cart">
                                            <div class="cart-img"><img src="{{ asset('img/cart/cart1.png') }}" alt=""></div>
                                            <div class="cart-content">
                                                <h4><a href="#">Mountain Bike <br/> Name Here</a></h4>
                                                <p>$122.00</p>
                                            </div>
                                            <div class="cart-del">
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-cart">
                                            <div class="cart-img"><img src="{{ asset('img/cart/cart1.png') }}" alt=""></div>
                                            <div class="cart-content">
                                                <h4><a href="#">Mountain Bike <br/> Name Here</a></h4>
                                                <p>$122.00</p>
                                            </div>
                                            <div class="cart-del">
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-cart">
                                            <div class="cart-img"><img src="{{ asset('img/cart/cart1.png') }}" alt=""></div>
                                            <div class="cart-content">
                                                <h4><a href="#">Mountain Bike <br/> Name Here</a></h4>
                                                <p>$122.00</p>
                                            </div>
                                            <div class="cart-del">
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </li>
                                        <li class="meni-cart-price">
                                            <div class="cart-price">
                                                <span>Total=</span>
                                                <span class="total-price">$488.00</span>
                                            </div>
                                            <div class="check-out-btn text-center">
                                                <a href="#">Check Out</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom sticky-header">
                <div class="header-bottom-inner">
                    <div class="container">
                        <div class="row">
                            <div class="mgeamenu-full-width">
                                <div class="col-md-7 col-sm-6 col-xs-3">
                                    <div class="main-menu hidden-sm hidden-xs">
                                        {% block menu %}
                                        {% endblock %}
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-9">
                                    <div class="search-area">
                                       <div class="search-box-inner">
                                            <form action="#">
                                               <input type="text" placeholder="Search">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-3">
                                    <div class="main-menu sub-menu hidden-sm hidden-xs">
                                        <nav>
                                            <ul>
                                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                    <li>
                                                        <a href="{{ path('logout') }}">{{ 'USER_LOGOUT'|trans({}, "user") }}</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="{{ path('login') }}">{{ 'USER_LOGIN'|trans({}, "user") }}</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile menu start -->
                    <div class="mobile-menu-area hidden-lg hidden-md">
                        <div class="container">
                            <div class="col-md-12">
                                {% block mobile_menu %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <!-- Mobile menu end -->
                </div>
            </div>
        </div>
        <!--header end-->

        {% block body %}{% endblock %}

        <!--footer start-->
        <div class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="single-footer footer-dec">
                                <div class="footer-logo">
                                    <a href="#"><img src="{{ asset('img/logo/logo.png') }}" alt=""></a>
                                </div>
                                <p class="dec">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                                </p>
                                <div class="social-icon">
                                    <a href="https://www.facebook.com/perloplast" target="_blank"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="single-footer">
                                <div class="footer-title">
                                    <h4>{{ 'HOMEPAGE_PAGES'|trans }}</h4>
                                </div>
                                {% block footer_menu %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="single-footer">
                                <div class="footer-title">
                                    <h4>My Account</h4>
                                </div>
                                <ul class="mainmenu">
                                    <li><a target="_blank" href="my-account.html"><i class="fa fa-angle-right"></i> My Account</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> Wish List (3)</a></li>
                                    <li><a target="_blank" href="cart-page.html"><i class="fa fa-angle-right"></i> Shopping Cart</a></li>
                                    <li><a target="_blank" href="checkout.html"><i class="fa fa-angle-right"></i> Checkout</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-footer newsletter">
                                <div class="footer-title">
                                    <h4>Newsletter</h4>
                                </div>
                                <p>Subscibe to the Shaeng mailing list to receive updates on new arrivals,offers and other discount information</p>
                                <form action="#">
                                    <input type="text" placeholder="Write your e-mail here">
                                    <button>Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-botton">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 col-sm-12">
                            <p>{{ "now"|date("Y") }} © Errit van der Heide | {{ 'HOMEPAGE_RIGHTS_RESERVED'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}
            {% javascripts 
                '@jquery'
                '@elevate_zoom'
                '@site_js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
