{% extends 'base.html.twig' %}

{% block menu %}
    <nav>
        <ul>
            <li><a class="home" href="{{ path('home') }}"><i class="fa fa-home"></i></a>
            </li>
            <li>
                <a href="{{ path('product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a>
            </li>
            <li>
                <a href="index.html">Agenda</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a href="{{ path('account') }}">{{ 'ACCOUNT_ACCOUNT'|trans({}, "account") }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block mobile_menu %}
    <nav id="dropdown">
        <ul>
            <li><a class="home" href="{{ path('home') }}"><i class="fa fa-home"></i></a>
            </li>
            <li>
                <a href="{{ path('product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a>
            </li>
            <li>
                <a href="index.html">Agenda</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a href="{{ path('account') }}">{{ 'ACCOUNT_ACCOUNT'|trans({}, "account") }}</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">{{ 'USER_LOGOUT'|trans({}, "user") }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('login') }}">{{ 'USER_LOGIN'|trans({}, "user") }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block footer_menu %}
    <ul class="mainmenu">
        <li><a href="{{ path('home') }}"><i class="fa fa-angle-right"></i> Home</a></li>
        <li><a href="{{ path('product_index') }}"><i class="fa fa-angle-right"></i> {{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i> Agenda</a></li>
        <li>
            <a href="{{ path('account') }}"><i class="fa fa-angle-right"></i> {{ 'ACCOUNT_ACCOUNT'|trans({}, "account") }}</a>
        </li>
    </ul>
{% endblock %}