{% extends 'backend.html.twig' %}

{% block body %}

    {% trans_default_domain "product_category" %}
     <!--breadcrumbs-area start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="{{ path('backend') }}">{{ 'COMMON_BACKEND'|trans({}, "common") }}</a> <span><i class="fa fa-angle-right"></i></span></li>
                        <li><a href="{{ path('backend_product_index') }}">{{ 'PRODUCT_PRODUCTS'|trans({}, "product") }}</a> <span><i class="fa fa-angle-right"></i></span></li>
                        <li><a href="{{ path('productcategory_index') }}">{{ 'PRODUCTCATEGORY_PRODUCTCATEGORIES'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs-area end -->

    <!--elements start-->
    <div class="elements">
        <div class="typhography text-left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h1>{{ 'PRODUCTCATEGORY_PRODUCTCATEGORIES'|trans }}</h1>
                        <ul>
                            <li>
                                <a class="btn btn-primary" href="{{ path('productcategory_new') }}">{{ 'PRODUCTCATEGORY_NEW_PRODUCTCATEGORY'|trans }}</a>
                            </li>
                        </ul>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'PRODUCTCATEGORY_NAME'|trans }}</th>
                                        <th>{{ 'COMMON_UPDATED_AT'|trans({}, "common") }}</th>
                                        <th>{{ 'COMMON_CREATED_AT'|trans({}, "common") }}</th>
                                        <th>{{ 'COMMON_ACTIONS'|trans({}, "common") }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for productCategory in productCategories %}
                                    <tr>
                                        <td>{{ productCategory.name }}</td>
                                        <td>{% if productCategory.updatedAt %}{{ productCategory.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{% if productCategory.createdAt %}{{ productCategory.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('productcategory_show', { 'id': productCategory.id }) }}">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('productcategory_edit', { 'id': productCategory.id }) }}">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    {{ form_start(deleteForms[productCategory.id]) }}
                                                        <button type="submit" class="btn btn-link">
                                                            <span class="glyphicon glyphicon-trash"></span>&nbsp;
                                                        </button>
                                                    {{ form_end(deleteForms[productCategory.id]) }}
                                                </li>

                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="navigation">
                                {{ knp_pagination_render(productCategories) }}
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>            
        </div>
    </div>
    <!--elements end--> 

{% endblock %}
