{% extends 'frontend.html.twig' %}

{% block _recover_password_submit_widget %}
    <input type="submit" {{ block('button_attributes') }} value="{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}">
{% endblock %}

{% block body %}
     <!--breadcrumbs-area start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="{{ path('home') }}">{{ 'COMMON_HOME'|trans({}, "common") }}</a> <span><i class="fa fa-angle-right"></i></span></li>
                        <li>{{ 'USER_FORGOT_PASSWORD'|trans({}, "user") }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs-area end -->
    
    <!-- account-details Area Start -->
        <div class="elements">
            <div class="container">
                <div class="page-header">
                    <h1>{{ 'USER_FORGOT_PASSWORD'|trans({}, "user") }}</small></h1>
                </div>
                {% for flashMessage in app.session.flashbag.get('error') %}

                     <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>

                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('success') %}

                    <div class="alert alert-success" role="alert">{{ flashMessage }}</div>

                {% endfor %}

                <p>{{ 'USER_FILL_IN_EMAIL_FOR_PASSWORD'|trans({}, "user") }}</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xs-12">
                        <div class="customer-login my-account">
                            {% form_theme form _self %}
                            {{ form_errors(form) }}
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'login'}}) }}

                            {{ form_row(form.email) }}
                            <div class="actions-log">
                                {{ form_widget(form.submit, {'attr': {'class': 'button'}}) }}
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-details Area end -->
{% endblock %}
