<div class="col-md-3 col-sm-4 col-xs-12 shopping-cart">
    <div class="header-meddle-right">
       <div class="login-account">
            <a href="{{ path('account') }}"><i class="fa fa-user"></i></a>
        </div>
        <div class="meni-cart {{ shopping_cart.productAmount > 0 ? 'menu-cart' : '' }}">
            {% if (shopping_cart.productAmount > 0) %}
                <a href="{{ path('cart_index') }}" class="cart-icon"><i class="fa fa-shopping-cart"></i> <span class="cart-total-price">{{ shopping_cart.subtotal|localizedcurrency('EUR') }}</span></a>
                <span class="cart-product-amount">{{ shopping_cart.productAmount }}</span>
            {% else %}
                <a href="{{ path('cart_index') }}" class="cart-icon"><i class="fa fa-shopping-cart"></i></a>
            {% endif %}
            <ul class="cart-area">
                {% for product in shopping_cart.products %}
                <li class="single-cart single-cart-animated">
                    <div class="cart-img"><img src="{{ asset(product.image) }}" alt=""></div>
                    <div class="cart-content">
                        <h4><a href="{{ path('product_show', { 'id': product.productId }) }}"><strong>{{ product.name }}</strong> <br/> {{ 'SHOPPING_CART_QUANTITY'|trans({}, "shopping_cart") }}: {{ product.amount }}</a></h4>
                        <p>{{ product.total|localizedcurrency('EUR') }}</p>
                    </div>
                    <div class="cart-del" data-product-id="{{ product.productId }}">
                        <a href="#"><i class="fa fa-times"></i></a>
                    </div>
                </li>
                {% endfor %}
                <li class="meni-cart-price">
                    {% if (shopping_cart.productAmount > 0) %}
                        <div class="cart-price">
                            <span>{{ 'SHOPPING_CART_TOTAL'|trans({}, "shopping_cart") }}</span>
                            <span class="total-price cart-total-price">{{ shopping_cart.subtotal|localizedcurrency('EUR') }}</span>
                        </div>
                        <div class="check-out-btn text-center">
                            <a href="{{ path('cart_index') }}">{{ 'SHOPPING_CART_CHECKOUT'|trans({}, "shopping_cart") }}</a>
                        </div>
                    {% else %}
                        <div class="cart-price text-center">
                            <span>{{ 'SHOPPING_CART_SHOPPING_CART_IS_EMPTY'|trans({}, "shopping_cart") }}</span>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>