{% extends 'frontend.html.twig' %}

{% block title %}ShoppingBundle:ShoppingCart:cart{% endblock %}

{% block body %}
    <!--breadcrumbs-area start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="{{ path('home') }}">{{ 'COMMON_HOME'|trans({}, "common") }}</a> <span><i class="fa fa-angle-right"></i></span></li>
                        <li>
                            <a href="{{ path('cart_index') }}">{{ 'SHOPPING_CART_SHOPPING_CART'|trans({}, "shopping_cart") }}</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs-area end -->
    
    <!--cart-page-area start-->
    <div class="cart-page-area page-bg page-ptb">
        <div class="container">
            {% if shoppingCart.products is not empty %}
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table-content">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{ 'SHOPPING_CART_ARTICLE'|trans({}, "shopping_cart") }}</th>
                                        <th>{{ 'SHOPPING_CART_QUANTITY'|trans({}, "shopping_cart") }}</th>
                                        <th>{{ 'SHOPPING_CART_PRICE'|trans({}, "shopping_cart") }}</th>
                                        <th>{{ 'SHOPPING_CART_TOTAL_PRICE'|trans({}, "shopping_cart") }}</th>
                                        <th style="min-width: 120px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in shoppingCart.products %}
                                        <tr>
                                           <td class="cart-product"><a href="{{ path('product_show', { 'id': product.productId }) }}"><img src="{{ asset(product.image) }}" alt=""></a></td>
                                           <td class="cart-name">
                                               <h3><a href="{{ path('product_show', { 'id': product.productId }) }}">{{ product.name }}</a></h3>
                                            </td>
                                           <td>
                                                <div class="cart-quantity">
                                                    <form action="#" method="POST">
                                                        <div class="product-quantity">
                                                            <div class="cart-quantity">
                                                                <div class="cart-plus-minus">
                                                                     <a href="{{ path('cart_decrease', { 'id': product.productId, 'amount': 1 }) }}"><div class="deco qtybutton">-</div></a>
                                                                    <input type="text" value="{{ product.amount }}" name="qtybutton" class="cart-plus-minus-box">
                                                                    <a href="{{ path('cart_add', { 'id': product.productId, 'amount': 1 }) }}"><div class="inco qtybutton">+</div></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                           <td class="price-cart">{{ product.price|localizedcurrency('EUR') }}</td>
                                           <td class="total-cart-price">{{ product.total|localizedcurrency('EUR') }}</td>
                                           <td class="cart-remove"><a href="{{ path('cart_remove', { 'id': product.productId }) }}"><i class="fa fa-times"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-8 col-md-4 col-sm-6 col-xs-12">
                        <div class="cart_total cart-pdi">
                            {{ include('ShoppingBundle:ShoppingCart:_cart-totals.html.twig') }}
                            <div class="proceed-out">
                                <a href="{{ path('purchase_checkout') }}">{{ 'SHOPPING_CART_PROCEED_TO_CHECKOUT'|trans({}, "shopping_cart") }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {{ 'SHOPPING_CART_THE_SHOPPING_CART_IS_EMPTY'|trans({}, "shopping_cart") }}
            {% endif %}
        </div>
    </div>
    <!--cart-page-area end-->

{% endblock %}
